#organe-wrapper .page-list li .page-zoom-overlay {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.4) url('../img/zoom-icon.png') no-repeat center center;
}

#organe-wrapper .page-list li:hover .page-zoom-overlay {
    visibility: visible;
}

#organe-wrapper .folder, #organe-wrapper .folder-list-wrapper {
    padding-left: 2px;
    padding-right: 2px;
}

#organe-wrapper .page-list {
    min-height: 500px;
}

#organe-wrapper .page-list ol {
    display: block;
    list-style-type: none;
    min-height: 500px;
    width: 100%;
    padding-left: 0;
}

#organe-wrapper .page-list li {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 120px;
    height: 180px;
    border: solid black thin;
    margin: 2px;
}

#organe-wrapper .page-list li img {
    width: 118px;
    height: 178px;
}
